
%h1 
  Структура организации (
  = link_to image_tag('plus.png', border: 0, size: '36x36'), 
            new_structure_path,
            class: 'btn btn-default',
            title: 'Добавить новую запись',
            remote: true, 
            onclick: "$('#modal-container-110063').modal('show');"
  )
%br
%table.table.table-striped
  %thead
    = render 'structure_title'
  %tbody.tbody-structures
    = render @structures

%br

= paginate @structures, :theme => 'twitter-bootstrap-3',
                   :pagination_class => "pagination-sm"

%br


