%div.form-group.block
  %label.control-label{ for: 'name' }
    = t('.description')
  %div.mce-content-body
    = raw @staff_test.description

:javascript
  Prism.highlightAll();  // Обновление красивых стилей для вставок с кодом